body::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 250%;
  top: -75%;
  left: -50%;
  z-index: -1;
  background: url("./assets/Tiles.svg") 0 0 repeat;
  rotate: -45deg;
}
body {
  font-family: "Protest Riot";
  display: grid;
  height: 100vh;
  justify-items: center;
  align-content: center;
  background-color: #051622;
  overflow: hidden;
}
h1 {
    color:white;
    margin:0;
}
iframe {
    border-radius: 1rem;
    border: none;
    scale: 0.75;
    background-color: #00332B;
}
#phishing-banner{
    display:none;
}
.vsplitbar{
    display:none
}
